@model IEnumerable<AgileAssistPro_IUSH.Models.Usuarios>
@using AgileAssistPro_IUSH.Controllers;
@using AgileAssistPro_IUSH.Data;
@using Microsoft.AspNetCore.Authentication.Cookies;
@using Microsoft.AspNetCore.Authentication;
@{
    ViewData["Title"] = "Monitoreo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="display:flex;justify-content: space-between;align-items: center; color:#294E7F">
    <h1>@ViewData["Title"]</h1>
</div>

<div>
    <table class="table">
        <thead>
            <tr> 
                <th>Clase del día</th>
                <th>Hora</th>
                <th>Registrar Asistencia</th>
                @if(!User.IsInRole("Estudiante"))
                {
                <th>Alumno</th>
                <th>Faltas</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                @if (item.Rol == "Estudiante")
                {
                    <tr>

                        @if (User.IsInRole("Estudiante") && (User.Identity.Name == item.Correo))
                        {

                            <td>@item.IdCurso</td>
                            <td>@item.Hora</td>
                            <td>
                                <a class="btn btn-sm btn-info">¡Presente!</a>
                            </td>
                        }
                        else if (!User.IsInRole("Estudiante"))
                        {
                            <td>@item.IdCurso</td>
                            <td>@item.Hora</td>
                            <td>
                                <a class="btn btn-sm btn-info">Asistió</a>
                            </td>
                            <td>@item.Nombre</td>
                            <td>@item.Inasistencia</td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
</div>